--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

torch==2.0.1
torchvision==0.15.2
fastapi
uvicorn[standard]
Pillow
python-dotenv
jinja2
python-multipart
pytest
httpx
